### Sustainability Aware Asset Management: **Group A (Mean-Variance Portfolio)**
#### **Data import and cleaning**

In [1]:
## Packages lists:
import pandas as pd
import openpyxl

In [23]:
## Importing the 'Static.xlsx' file to have information on the companies (ISIN, Name, Sector, Country and Region.)
companies = pd.read_excel('Data/Static.xlsx')
## Selecting only the companies from the North America Region.
companies = companies[companies.Region == "AMER"]
## Selecting the ISIN of the companies as Index
companies = companies.set_index(companies.ISIN)

In [44]:
companies.head()

,Company,ISIN,GICSSectorName,Country,Region
ISIN,,,,,
AN8068571086,Schlumberger Limited,AN8068571086,Energy,UNITED STATES,AMER
BMG0450A1053,Arch Capital Group Ltd.,BMG0450A1053,Financials,UNITED STATES,AMER
BMG3223R1088,"Everest Group, Ltd.",BMG3223R1088,Financials,UNITED STATES,AMER
BMG6359F1370,Nabors Industries Ltd.,BMG6359F1370,Energy,UNITED STATES,AMER
BMG7496G1033,RenaissanceRe Holdings Ltd.,BMG7496G1033,Financials,UNITED STATES,AMER

In [41]:
## Importing the Monthly and Yearly Returns of each stock.
df_m = pd.read_excel("Data/DS_RI_T_USD_M.xlsx")
df_y = pd.read_excel("Data/DS_RI_T_USD_Y_CAI.xlsx")

## Selecting only the North America companies
df_m = df_m[df_m.ISIN.isin(companies.index)]
df_y = df_y[df_y.ISIN.isin(companies.index)]

## Dropping the ISIN columns
monthly_return = df_m.drop('ISIN', axis=1)
yearly_return = df_y.drop('ISIN', axis=1)

## Indexing the Companies names
monthly_return = monthly_return.set_index('NAME')
yearly_return = yearly_return.set_index('NAME')

## Removing the index name
monthly_return.index.name = None
yearly_return.index.name = None

## Transposing the dataframes to have a better structure to work with
monthly_return = monthly_return.T
yearly_return = yearly_return.T

In [45]:
monthly_return.head()

,SCHLUMBERGER,ARCH CAP.GP.,EVEREST GROUP,NABORS INDUSTRIES,RENAISSANCERE HDG.,SIGNET JEWELERS,WHITE MOUNTAINS IN.GP.,ARC RESOURCES,AGNICO-EAGLE MNS. (NYS),ALIMENTATION COUCHE TARD,...,WHIRLPOOL,JOHN WILEY AND SONS A,WILLIAMS,WILLIAMS-SONOMA,WOLFSPEED,XCEL ENERGY,XEROX HOLDINGS,YUM! BRANDS,ZEBRA TECHNOLOGIES 'A',ZIONS BANCORP.
2000-01-31 00:00:00,1858.26,68.82,131.53,1526.85,207.13,44.96,559.99,102.09,288.35,2341.63,...,905.12,1930.00,2379.91,1527.56,3861.54,1760.30,244.69,92.34,648.63,9030.17
2000-02-29 00:00:00,2254.15,71.76,128.27,1848.97,202.12,39.42,548.79,100.24,314.43,2215.14,...,849.31,1833.50,2551.53,1491.40,7707.69,1605.99,254.95,85.89,729.45,8104.25
2000-03-31 00:00:00,2334.75,77.06,170.76,2000.37,218.90,42.01,670.01,103.11,249.86,2254.96,...,916.75,2321.05,2689.93,1494.42,4630.77,1817.46,307.59,100.20,547.95,6357.39
2000-04-30 00:00:00,2336.65,72.43,153.10,2032.58,197.41,45.44,694.67,106.82,241.44,2370.18,...,1018.39,2224.34,2295.81,1669.17,5969.23,2029.58,313.51,109.27,624.66,6338.30
2000-05-31 00:00:00,2245.09,70.59,177.96,2216.19,233.43,38.20,705.29,118.98,241.44,2185.90,...,891.08,2296.88,2544.53,1545.64,4983.97,2058.66,323.27,94.56,526.03,7155.57

In [46]:
yearly_return.head()

,SCHLUMBERGER,ARCH CAP.GP.,EVEREST GROUP,NABORS INDUSTRIES,RENAISSANCERE HDG.,SIGNET JEWELERS,WHITE MOUNTAINS IN.GP.,ARC RESOURCES,AGNICO-EAGLE MNS. (NYS),ALIMENTATION COUCHE TARD,...,WHIRLPOOL,JOHN WILEY AND SONS A,WILLIAMS,WILLIAMS-SONOMA,WOLFSPEED,XCEL ENERGY,XEROX HOLDINGS,YUM! BRANDS,ZEBRA TECHNOLOGIES 'A',ZIONS BANCORP.
1999,1708.01,59.41,116.52,1594.49,216.82,52.80,599.81,98.00,333.15,2019.91,...,1010.97,2155.16,1865.02,2217.52,3502.56,1783.17,265.94,124.60,641.10,8994.55
2000,2457.72,70.59,376.46,3048.54,428.90,37.97,1601.36,150.51,269.51,2060.73,...,762.86,2787.53,2472.09,964.14,2915.38,2826.02,56.20,106.45,447.09,9660.00
2001,1711.86,121.18,373.15,1769.34,533.48,70.64,1746.93,184.64,444.74,3976.55,...,1199.74,3010.71,1755.82,2068.08,2417.23,2842.26,127.66,158.71,608.33,8255.18
2002,1331.97,146.68,293.41,1817.79,674.56,57.70,1626.28,208.27,670.75,5727.11,...,872.75,3164.94,192.94,2617.64,1341.54,1216.54,98.62,156.26,627.95,6279.12
2003,1759.75,187.58,451.26,2138.88,847.18,101.39,2323.02,363.12,546.03,9212.52,...,1242.63,3464.60,706.02,3352.31,1451.49,1967.03,169.06,221.94,1091.01,9980.68